<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <th:block th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Job Hunter</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous" />
        <script>
            let ID = i => document.getElementById(i);
        </script>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <style>
            .center{ margin: auto; position: absolute; width: 70%; top: 0; left: 0; bottom: 0; right: 0; }
            .btn-closer{ position: absolute; top: 3px; right: 3px; }
        </style>
    </th:block>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" id="home_page">Job Hunter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="login" ><a href="/login">Login</a></li>
                <li id="logout" ><a href="/logout">Logout</a></li>
                <li id="register" ><a href="/register">Register</a></li>
                <li id="builder" ><a href="/builder">Resume Builder</a></li>
                <li id="job_search" ><a href="/job_search">Job Search</a></li>
                <li id="person_search" ><a href="/person_search">Person Search</a></li>
                <li id="post_job" ><a href="/post_job">Jobs Builder</a></li>
                <li id="notifications" ><a href="/notifications">Notifications</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<th:block th:fragment="nav_script">
    <th:block sec:authorize="isAuthenticated()">
        <script>
            ID('login').style.display = 'none';
            ID('register').style.display = 'none';
        </script>
        <th:block sec:authorize="hasAuthority('target')">
            <script>
                ID('person_search').style.display = 'none';
                ID('post_job').style.display = 'none';
            </script>
        </th:block>
        <th:block sec:authorize="hasAuthority('hunter')">
            <script>
                ID('builder').style.display = 'none';
                ID('job_search').style.display = 'none';
            </script>
        </th:block>
    </th:block>
    <th:block sec:authorize="isAnonymous()">
        <script>
            ID('logout').style.display = 'none';
            ID('builder').style.display = 'none';
            ID('post_job').style.display = 'none';
            ID('job_search').style.display = 'none';
            ID('person_search').style.display = 'none';
            ID('notifications').style.display = 'none';
        </script>
    </th:block>
</th:block>

</body>
</html>
