<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>


<div class="container">
    <th:block th:replace="base :: nav"></th:block>
    <th:block th:replace="base :: nav_script"></th:block>

    <br /><br /><br/>
    <div class="jumbotron">
        <h1>Job Hunter</h1>
        <p class="lead">A web app by orion.</p>
    </div>

</div><!-- /.container -->
<script>
    ID('home_page').style.color = "green";
</script>
</body>
</html>