<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>

<!-- header image -->
<img src= "http://owolfhu1.x10host.com/Oh_Hell_solo/img/job_header.jpg" style="width: 100%;"/>
<!-- header image -->

<div class="container">
    <th:block th:replace="base :: nav"></th:block>
    <th:block th:replace="base :: nav_script"></th:block>

    <br /><br/>
    <div class="well">
        <th:block sec:authorize="isAuthenticated()">
            <h1>Welcome to Job Hunter!</h1>
            <th:block sec:authorize="hasAuthority('target')">
                <p>good luck!</p>
            </th:block>
            <th:block sec:authorize="hasAuthority('hunter')">
                <p>happy hunting!</p>
            </th:block>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <h1>Welcome to Job Hunter</h1>
            <p>please register/sign in to use this service</p>
        </th:block>
    </div>

</div><!-- /.container -->
<script>
    ID('home_page').style.color = "purple";
</script>
</body>
</html>