<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:replace="base :: nav"></th:block>
    <th:block th:replace="base :: nav_script"></th:block>
    <br/><br/><br/>
    <div class="jumbotron">
        <h1>Hello <th:block th:text="${person.firstName}"></th:block>!</h1>
        <h2>Are you ready to hunt for jobs?.</h2>
        <p>How would you like to search?</p>
        <div class="btn-group">
            <button id="show_all_jobs" class="btn btn-warning">Show all</button>
            <button id="title_search" class="btn btn-danger">Search Job Titles</button>
            <button id="skill_search" class="btn btn-warning">Search Jobs by skill requirements</button>
            <button id="description_search" class="btn btn-danger">Search Jobs by description key words</button>
        </div>
    </div>
    <a href="/show_all_jobs" id="click_me" style="display: none;"></a>
    <!-- results -->
    <div class="well" th:each="job : ${jobs}">
        <div class="well">
            <h1 th:text="${job.title}">title</h1>
            <p>Employer: <th:block th:text="${job.employer}">employer</th:block></p>
            <p>Salary: <th:block th:text="${job.salary}">employer</th:block></p>
            <p>Job description: <th:block th:text="${job.description}">description</th:block></p>
            <p>required skills: <th:block th:text="${job.requirements}">skills</th:block></p>
            <a th:href="@{'apply/' + ${job.employer} + '/' + ${job.id}}"><button class="btn btn-info">Apply to this job</button></a>
        </div>
    </div>
    <!-- results -->

    <!-- search title -->
    <div class="well center" style="height:120px; display: none;" id="search_title">
        <button class="btn btn-danger btn-xs btn-closer" id="close_title">X</button>
        <form class="form-horizontal" th:action="@{/title_job_search}" th:object="${job}" method="post">
            <div class="form-group">
                <input th:field="*{title}" type="text" class="form-control" placeholder="Job Title"/>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control">Search for Jobs</button>
            </div>
        </form>
    </div>
    <!-- search title -->

    <!-- search skill -->
    <div class="well center" style="height:120px; display: none;" id="search_skill">
        <button class="btn btn-danger btn-xs btn-closer" id="close_skill">X</button>
        <form class="form-horizontal" th:action="@{/skill_job_search}" th:object="${job}" method="post">
            <div class="form-group">
                <input th:field="*{requirements}" type="text" class="form-control" placeholder="Skill requirements"/>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control">Search for Jobs</button>
            </div>
        </form>
    </div>
    <!-- search skill -->

    <!-- search description -->
    <div class="well center" style="height:120px; display: none;" id="search_description">
        <button class="btn btn-danger btn-xs btn-closer" id="close_description">X</button>
        <form class="form-horizontal" th:action="@{/description_job_search}" th:object="${job}" method="post">
            <div class="form-group">
                <input th:field="*{description}" type="text" class="form-control" placeholder="description keywords,  (separate by comma)"/>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control">Search for Jobs</button>
            </div>
        </form>
    </div>
    <!-- search description -->



</div><!-- /.container -->
<script>
    const fields = {t: 'title', s: 'skill', d: 'description'};

    //activate buttons
    for (let i in fields) {
        ID(`${fields[i]}_search`).addEventListener('click', () => {
            display(`search_${fields[i]}`,'block');
        });
        ID(`close_${fields[i]}`).addEventListener('click', () => {
            display(`search_${fields[i]}`,'none');
        });
    }

    ID('show_all_jobs').addEventListener('click', () =>{
        ID('click_me').click();
    });

    //edit nav bar
    ID('job_search').className += 'active';
</script>
</body>
</html>