<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>


<div class="container">
    <th:block th:replace="base :: nav"></th:block>
    <th:block th:replace="base :: nav_script"></th:block>
    <br/> <br/> <br/>
    <div class="jumbotron">
        <h2 th:text="${message}">welcome message</h2>
    </div>
    <div class="well">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" class="form-control" placeholder="username"/>
        <br/>
        <input type="password" name="password" class="form-control" placeholder="password"/>
        <br/>
        <input type="submit" value="Sign In" class="form-control"/>
    </form>
    </div>
</div><!-- /.container -->

<script>
    ID('login').className += 'active';
</script>
</body>
</html>
