<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:replace="base :: nav"></th:block>
    <th:block th:replace="base :: nav_script"></th:block>
    <br/><br/><br/>
    <div class="jumbotron">
        <h1>Hello <th:block th:text="${person.firstName}"></th:block>!</h1>
        <p>Here you can post a new job listing or delete and old one</p>
        <button class="form-control" id="new_job_button">Click here to create a new job</button>
    </div>
    <!-- your jobs -->
    <div class="well" th:each="job : ${jobs}">
        <div class="well">
            <h1 th:text="${job.title}">title</h1>
            <p>Employer: <th:block th:text="${job.employer}">employer</th:block></p>
            <p>Salary: <th:block th:text="${job.salary}">employer</th:block></p>
            <p>Job description: <th:block th:text="${job.description}">description</th:block></p>
            <p>required skills: <th:block th:text="${job.requirements}">skills</th:block></p>
            <a th:href="@{'delete/job/' + ${job.id}}"><button class="btn btn-danger">Delete Job</button></a>
        </div>
    </div>
    <!-- your jobs -->

    <!-- new job form -->
    <div id="new_job" class="well center" style="height: 290px; display: none;">
        <button class="btn btn-danger btn-xs btn-closer" id="close_new_job">X</button>
        <form class="form-horizontal" th:action="@{/new_job}" th:object="${job}" method="post">
            <div class="form-group">
                <input th:field="*{title}" type="text" class="form-control" placeholder="Title"/>
            </div>
            <div class="form-group">
                <input th:field="*{salary}" type="text" class="form-control" placeholder="Salary range"/>
            </div>
            <div class="form-group">
                <input th:field="*{description}" type="text" class="form-control" placeholder="Job description"/>
            </div>
            <div class="form-group">
                <input th:field="*{requirements}" type="text" class="form-control" placeholder="Requirements (sep by comma)"/>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control">Post new Job</button>
            </div>
        </form>
    </div>
    <!-- new job form -->

</div><!-- /.container -->

<script>
    //edit nav bar
    ID('post_job').className += 'active';

    ID('new_job_button').addEventListener('click', () => {
        display('new_job','block');
    });
    ID('close_new_job').addEventListener('click', () => {
        display('new_job','none');
    });
</script>

</body>
</html>